Skip to content
Search or jump to…

Pull requests
Issues
Marketplace
Explore
 
@TatianaRosca 
sergiuchilat
/
tekwill2021-exemple
1
01
Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights
tekwill2021-exemple/public/2.CSS/8. Culori in CSS/style.css
@sergiuchilat
sergiuchilat Culori in CSS
Latest commit d0bf945 13 minutes ago
 History
 1 contributor
25 lines (20 sloc)  343 Bytes
  
.square{
    width: 150px;
    height: 150px;
    border: 1px solid lightgray;
}

.color-name{
    background-color: indigo;
}

.color-rgb{
    background-color: rgb(100, 0, 255);
}

.color-rgba{
    background-color: rgba(100, 0, 255, 0.5);
}

.color-hex{
    background-color: #ffff00;
}

.color-hex-alpha{
    background-color: #00ff805d;
}
